<div class="container">
    <h1>Listado de Categorías</h1>

    <mat-table [dataSource]="dataSource"> <!--Creamos la tabla con la variable dataSource-->
        <ng-container matColumnDef="id">    <!--Definición de la primera columna, su cabecera y el dato que va a contener-->
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name"> <!--Definición de la segunda columna, su cabecera y el dato que va a contener-->
            <mat-header-cell *matHeaderCellDef> Nombre categoría  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action"> <!--Definición de la tercera columna, su cabecera vacía y los dos botones de acción-->
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editCategory(element)">
                        <mat-icon>edit</mat-icon> </button>
                <button mat-icon-button color="accent" (click)="deleteCategory(element)">
                            <mat-icon>clear</mat-icon></button>
            </mat-cell>
        </ng-container>
<!--Construcción de la cabecera y las filas-->
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
<!--boton inferior de nueva categoria-->
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createCategory()">Nueva categoría</button>     
    </div>   
</div>
