<div class="container">
    <h1>Crear préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El juego no puede estar vacío</mat-error>
        </mat-form-field>

        <p class="date-fields-name">Fechas de préstamo</p>
        <div class="date-fields">
            <div class="date-mat-form-fields">
                <mat-form-field>
                    <input matInput [matDatepicker]="pickerStart" [(ngModel)]="loan.date_start" name="date_start" required> 
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="loan.date_end" name="date_end" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle> 
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
            </div>
            <mat-error *ngIf="errorMessage" class="date-error">{{ errorMessage }}</mat-error>
        </div>
    </form>
    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>